* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#container {
    height: 100hv;
    width: 100wv;
    display: flex;
    justify-content: center;
}

#full-board {
    height: 800px;
    width: 20vw;
    border: solid 3px black;
    border-radius: 5px;
    background-color: #d98c71;
    display: flex;
    flex-direction: column;
}

#board-name {
    margin: 5px auto;
}

#title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.title {
    width: 50%;
    margin: 5px auto;
    padding: 2px auto;
}

#secret-code {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    border: solid 2px black;
}

.secret-color {
    background-color: black;
    padding: 10px auto;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.pegs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    height: 35px;
    width: 35px;
    float: left;
    margin-top: 0px;
    border: solid 1px red;
}
.peg-holder {
    margin: auto;
    background-color: green;
    padding: 10px auto;
    height: 6px;
    width: 6px;
    border-radius: 50px;
}

.code-breaker {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, 35px);
    width: 70%;
    height: 35px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
}

.color-holder {
    margin: auto;
    background-color: blue;
    padding: 10px auto;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

#side-board {
    height: auto;
    width: auto;

}

.color-picker {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(2, 75px);
    width: 225px;
    height: 150px;
    border: 5px solid black;
    margin: 0 auto;
    margin-top: 10px;
}

.submit {
    height: 50px;
    width: 225px;
    background-color: green;
}

/* footer and social network links*/
footer {
    height: 100px;
}

#footer-links {
    text-align: center;
}

#footer-links li {
    display: inline;
}

#footer-links i {
    font-size: 170%;
    margin: 30px;
    padding: 30px;
    color: black;
}