@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inknut+Antiqua:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cormorant, sans-serif;
    color: white;
    background-color: #EEA47F;
}

#container {
    height: 100hv;
    width: 100wv;
    display: flex;
    justify-content: center;
}

#full-board {
    height: auto;
    margin-top: 20px;
    min-width: 350px;
    width: 20vw;
    border-radius: 5px;
    background-color: #00539C;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 80%);
}

#board-name {
    font-size: 200%;
    margin: 5px auto 0;
}

#title-container {
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.title {
    width: 30%;
    margin: 5px auto;
    border: 3px outset;
    border-radius: 10px;
}

/*hover effect taken from the website https://www.sliderrevolution.com*/
.title:hover {
    color: black;
    background-image: linear-gradient(to right,
            #E7484F,
            #E7484F 16.65%,
            #F68B1D 16.65%,
            #F68B1D 33.3%,
            #FCED00 33.3%,
            #FCED00 49.95%,
            #009E4F 49.95%,
            #009E4F 66.6%,
            #00AAC3 66.6%,
            #00AAC3 83.25%,
            #732982 83.25%,
            #732982 100%,
            #E7484F 100%);
    animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

#secret-code {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

.secret-color {
    background-color: #221c42;
    padding: 10px auto;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pegs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    height: 35px;
    width: 35px;
    margin: auto 0 auto 25px;
}

.peg-holder {
    margin: auto;
    background-color: #221c42;
    padding: 10px auto;
    height: 5px;
    width: 5px;
    border-radius: 50px;
}

.red-peg {
    margin: auto;
    background-color: red;
    padding: 10px auto;
    height: 10px;
    width: 10px;
    border-radius: 50px;
}

.white-peg {
    margin: auto;
    background-color: white;
    padding: 10px auto;
    height: 10px;
    width: 10px;
    border-radius: 50px;
}

.code-breaker {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, 40px);
    width: 80%;
    height: 40px;
    margin: 5px 25px 5px 0;
}

.color-holder {
    margin: auto;
    background-color: #003153;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.glow {
    box-shadow: 0 0 10px 9px #48abe0;
    cursor: pointer;
}

.color-print {
    margin: auto;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.color-picker {
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: repeat(1, 5px);
    background-color: #00539C;
    width: 100%;
    height: 5px;
    margin: 0 auto;
    margin-top: 10px;
}

.blue {
    background-color: blue;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;

}

.red {
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

.yellow {
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

.green {
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

.orange {
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

.purple {
    background-color: purple;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

#submit {
    height: 50px;
  
    border-radius: 10px;

    font-size: 350%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 2px;
}

.submit-glow:hover {
    background-color: #adff2f;

}

.submit-glow {

    background-color: green;
    color: white;
    cursor: pointer;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #41e600, 0 0 40px #41e600, 0 0 50px #41e600, 0 0 60px #41e600, 0 0 70px #41e600;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #4dff82, 0 0 40px #4dff82, 0 0 50px #4dff82, 0 0 60px #4dff82, 0 0 70px #4dff82, 0 0 80px #4dff82;
    }
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
    background-color: #fefefe;
    color: #221c42;
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 80%);
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 100%;
    object-fit: contain;
}

.play-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.play-again {
    background-color: bisque;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
    width: auto;
    padding: 5px;
    font-size: 150%;
    font-weight: bold;
}

.title-box {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.title-box h1 {
    font-size: 250%;
}

.rule-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.rule-box .left {
    font-size: 250%;
    margin: auto 0 auto 4%;
}

.rule-box .right {
    font-size: 250%;
    margin: auto 4% auto 0;
}
.description{
    width: 80%;
    height: auto;
}

.description img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    display: block; 
}

.description h3 {
    text-align: center;
    font-size: 175%;
    margin: 10px;
    padding: 5px;
}

/* The Close Button */
#close {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 95%;
    background-color: #888;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* footer and social network links*/
footer {
    height: 100px;
}

#footer-links {
    text-align: center;
}

#footer-links li {
    display: inline;
}

#footer-links i {
    font-size: 170%;
    margin: 0 30px;
    padding: 30px;
    color: #221c42;
}